/********** BASE STYLES **********/
body {
  color: #313131;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 36pt;
  font-weight: bold;
  text-align: center;
}

#about {
  background-color: #ff654a;
  color: #fff;
  height: 1050px;
  text-align: center;
}

#portfolio {
  height: 850px;
}

#contact {
  background-color: #ff654a;
  color: #fff;
  height: 650px;
  text-align: center;
}

/********** GRID **********/
.full-width {
  margin: 0 auto;
  width: 1200px;
  overflow: auto;
}

.half-width {
  float: left;
  width: 600px;
}

.third-width {
  float: left;
  width: 400px;
}

/********** HEADER **********/
header {
  height: 800px;
}

nav {
  float: right;
  padding: 75px 25px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #313131;
  font-weight: bold;
  margin-left: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

header h1 {
  clear: both;
  font-family: 'Libre Baskerville', serif;
  font-size: 58pt;
  line-height: 75px;
  padding-top: 80px;
  width: 800px;
}

header p {
  clear: both;
  font-size: 24pt;
  width: 800px;
}

header h1 span {
  color: #ff654a;
}

/********** ABOUT **********/
#about .full-width {
  width: 600px;
  padding: 170px 0;
}

#about .half-width {
  padding: 80px 0;
}

#about img {
  border: 5px solid #fff;
  display: block;
  margin: 0 auto;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#about p span {
  font-weight: bold;
}

/********** PORTFOLIO **********/
#portfolio .full-width {
  padding: 180px 0;
}

#portfolio h2 {
  margin-bottom: 110px;
}

#portfolio img {
  border: 1px solid #313131;
  height: 220px;
  width: 350px;
  display: block;
  margin: 0 auto;
}

#portfolio span {
  font-weight: bold;
}

#portfolio p {
  text-align: center;
}

/********** CONTACT **********/
#contact .full-width {
  padding: 110px 0;
}

#contact span {
  font-weight: bold;
}

#contact a {
  color: #fff;
  text-decoration: none;
}

.fab {
  font-size: 35px;
  padding: 10px;
}

/********** FOOTER **********/
footer {
  background-color: #ff654a;
  color: #fff;
  text-align: center;
}

footer p {
  margin: 0 auto;
  padding-bottom: 20px;
}
